language: php

php:
  - 5.6
  - 7.0
  - hhvm

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev
  - touch .env

script:
  - vendor/bin/phpunit

after_script:
  - vendor/bin/coveralls -v
